@page
@model WeatherApp.Pages.TesteModel
@{
	Layout = "_LayoutHeadless";

/*
 1. Criar uma nova página "weather"
 2. Criar um link para a página criada
 3. Preparar e fazer o pedido à API wetherSTack 
 4. Processar o resultado, "desserialize" dados
 5. Apresentar a informação na página
 */

}
<ul>
	@{
		for (int i = 0; i < 10; i++)
		{
		<li>@i</li>	
		}
	}
</ul>
<p> Isto é na pagina teste</p>